<div *ngIf="showNotification" class="popup">{{ notification }}</div>>
<h1>Product Store</h1>
<div class="products-container">
  <div class="product-card" *ngFor="let product of products">
    <img [src]="product.image" alt="{{product.title}}" class="product-image" />
    <h2>{{ product.title }}</h2>
    <p>{{ product.description }}</p>
    <p>{{ product.price | currency:'ZAR':'symbol' }}</p>
    <button (click)="addToCart(product)">Add to Cart</button>
    <button (click)="viewDetails(product)">View Details</button>
    
  </div>
</div>
<a routerLink="/cart" class="cart-link">Go to Cart</a>

